.blog-title {
  text-decoration: none;
}

a:hover {
  color: #438eac
}
.rounded{
  width: 222px;
  height: auto;
  box-shadow:  5px 8px rgb(49, 48, 48), 10px 10px 8px rgb(56, 56, 56), 15px 15px 8px rgb(114, 121, 114)
}
.styl{
  font-size: 17px;
  font-style: italic;
  // margin-right: 22px;
  // display: inline-block;
  // width: 22px;
}